
@font-face {
font-family: 'Helvetica Bold Condensed';
font-style: normal;
font-weight: normal;
src: local('Helvetica Bold Condensed'), url('css/fonts/HelveticaNeueLTPro-BdCn.otf') format('opentype');
}


@font-face {
font-family: 'Helvetica Condensed';
font-style: normal;
font-weight: normal;
src: local('Helvetica Condensed'), url('css/fonts/HelveticaNeueLTPro-Cn.otf') format('opentype');
}


@font-face {
font-family: 'Helvetica Light Condensed';
font-style: normal;
font-weight: normal;
src: local('Helvetica Light Condensed'), url('css/fonts/HelveticaNeueLTPro-LtCn.otf') format('opentype');
}


